// login
@use "../../../src/index.scss" as *;

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
  padding: 20px;

  &__container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  &__logo {
    width: 120px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 1.5rem;
    color: #333;
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      margin: 10px 0 4px;
      font-size: 0.9rem;
      color: #333;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    a {
      margin: 10px 0px;
      text-decoration: none;
      color: #2a7ae4;

      &:hover {
        text-decoration: underline;
      }
    }

    .login__submit {
      margin-top: 10px;
      background: $primary-color;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: #009e8e;
      }
    }

    .text__bonus {
      display: flex;
      align-items: center;
      margin-top: 24px;
      margin-bottom: 16px;

      hr {
        width: 100%;
        color: #595959;
      }

      span {
        white-space: nowrap;
        color: #595959;
        margin: 0 12px;
      }
    }

    .login__google {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background: white;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: #f1f1f1;
      }
    }
  }

  &__extra {
    margin-top: 16px;
    font-size: 0.9rem;

    a {
      color: #2a7ae4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .login__register-link {
      font-weight: 600;
    }
  }
}

// register
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
  padding: 20px;

  &__container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  &__logo {
    width: 120px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 1.5rem;
    color: #333;
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      margin: 10px 0 4px;
      font-size: 0.9rem;
      color: #333;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    .register__checkbox {
      display: flex;
      align-items: center;
      margin: 10px 0;
      font-size: 0.9rem;
      line-height: 1.4;

      input {
        margin: 6px 5px 0 0;
      }

      a {
        color: #0066cc;
        text-decoration: underline;

        &:hover {
          color: #004c99;
        }
      }
    }

    .register__submit {
      margin-top: 10px;
      background: $primary-color;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: #009e8e;
      }
    }

    .text__bonus {
      display: flex;
      align-items: center;
      margin-top: 24px;
      margin-bottom: 16px;

      hr {
        width: 100%;
        color: #595959;
      }

      span {
        white-space: nowrap;
        color: #595959;
        margin: 0 12px;
      }
    }

    .login__google {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background: white;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: #f1f1f1;
      }
    }
  }

  &__extra {
    margin-top: 16px;
    font-size: 0.9rem;

    a {
      color: #2a7ae4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .register__login-link {
      font-weight: 600;
    }
  }
}
