.manage-container {
  background: var(--box-profile);
  min-height: 100vh;
}

.manage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-detail h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
}

.user-detail .ant-btn-link {
  padding: 0;
  color: var(--text);
  font-weight: 500;
  transition: color 0.2s;

  &:hover {
    color: var(--hover);
  }
}

.search-balance {
  display: flex;
  align-items: center;
  gap: 10px;

  /* Input */
  .ant-input-affix-wrapper {
    border-radius: 999px;
    transition: all 0.2s ease;

    &:hover {
      border-color: #00bfa6;
    }

    &:focus-within {
      border-color: #00bfa6;
    }
  }

  /* Button số dư */
  .ant-btn {
    border-radius: 999px;
    background: transparent;
    font-weight: 500;
    transition: all 0.2s ease;
    color: var(--text);

    &:hover {
      color: #00bfa6 !important;
      border-color: #00bfa6 !important;
      background: transparent !important;
    }
  }
}

.manage-tabs {
  .ant-tabs-nav {
    margin-bottom: 30px;
  }

  /* tab item */
  .ant-tabs-tab {
    font-weight: 500;
    color: var(--text);
    transition: all 0.2s ease;
    padding: 6px 14px;

    &:hover {
      color: #00bfa6;
    }
  }

  /* tab đang active */
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: var(--primary) !important;
      font-weight: 600;
    }
  }

  /* thanh gạch dưới của antd */
  .ant-tabs-ink-bar {
    background: var(--primary) !important;
    height: 3px;
    border-radius: 2px;
  }
}

/* Style nút ... của Tabs */
.ant-tabs-nav-more {
  border: none !important;
  background: transparent !important;
  border-radius: 6px;
  color: var(--text) !important;
  transition: all 0.2s;

  &:focus {
    border-color: #00bfa6 !important;
  }
}

/* Dropdown của nó (menu khi click vào dấu ...) */
// .ant-tabs-dropdown {
//   .ant-tabs-dropdown-menu {
//     border-radius: 8px;
//     box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
//   }

//   .ant-tabs-dropdown-menu-item {
//     color: var(--text);

//     &:hover {
//       background: rgba(0, 191, 166, 0.1);
//       color: #00bfa6;
//     }
//   }
// }

.manage-content {
  text-align: center;
  margin-top: 40px;
  color: var(--text);

  span {
    color: var(--text);
  }
}

.post-btn {
  margin-top: 20px;
  background: var(--primary) !important;
  border: none;
  border-radius: 999px;
  padding: 0 24px;
  font-weight: 600;
  transition: background 0.2s ease;

  span {
    color: #f5f5f5 !important;
  }

  &:hover {
    background: var(--secondary) !important;
  }
}
