@use "../../../src/index.scss" as *;

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 10;
  min-width: 340px;

  &__logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00bfa6;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;

    input {
      padding: 10px;
      width: 60%;
      max-width: 400px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 10px 16px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    // width: 50%;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      transition: color 0.2s;
      white-space: nowrap;

      &.active {
        color: #00bfa6;
      }

      &:hover {
        color: #00bfa6;
      }
    }

    .navbar__account {
      position: relative;
      cursor: pointer;
      user-select: none;

      .account-icon {
        font-size: 1.5rem;
      }

      .account-menu {
        position: absolute;
        top: 120%;
        right: 0;
        background-color: white;
        color: black;
        border-radius: 6px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
        padding: 0.5rem 1rem;
        min-width: 120px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 10;

        a {
          color: #0077cc;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      flex-direction: column;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 140px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1;
      border-radius: 6px;
      overflow: hidden;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 10px 16px;
      display: block;
      text-decoration: none;
      color: #333;
      cursor: pointer;
    }

    .dropdown-item:hover {
      background-color: #f5f5f5;
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;

    &__search {
      max-width: 100%;
      margin: 0.5rem 0;
    }

    &__links {
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
