/* ===========================
   Global Styles & Theme
   =========================== */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
  line-height: 1.6;
}

/* Light Theme */
:root[data-theme="light"] {
  --bg: #ffffff;
  --bg2: rgb(238, 238, 238);
  --text: #1a1a1a;
  --text2: white;
  --card-bg: #f9f9f9;
  --primary: #00bfa6;
  --secondary: #028090;
  --border: #ddd;
  --shadow: rgba(0, 0, 0, 0.08);
  --bg-navbar: #ffffff;
  --text-nav: #1a1a1a;
  --hover: #dcdcdc;
  --un-rating: #474747;
  --box-profile: #ffffff;
  --content-side: #e7e7e7;
  --theme-admin: #f5f6fa;
  --theme-admin-2: #ffffff;
  --theme-admin-3: #ffffff;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --bg: #1e1e1e;
  --bg2: #23272b;
  --text: #f0f0f0;
  --text2: black;
  --card-bg: #2a2a2a;
  --primary: linear-gradient(45deg, #00ff87, #60efff);
  --secondary: linear-gradient(45deg, #00df77, #57dfee);
  --border: #333;
  --shadow: #00bfa6;
  --bg-navbar: #23272b;
  --text-nav: #00bfa6;
  --hover: #00a791;
  --un-rating: #f0f0f0;
  --box-profile: #2a2a2a;
  --content-side: #646464;
  --content-side-2: #4b4b4b;
  --theme-admin: #000f1b;
  --theme-admin-2: #002140;
  --theme-admin-3: #001122;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; // chiếm toàn bộ không gian còn lại, đẩy footer xuống dưới
}

.loading-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-message {
  position: fixed;
  top: 80px !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999 !important;
}

.ant-message-notice-content {
  background: #fff;
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 10px 16px;
}
// /* Links */
// a {
//   color: var(--primary);
//   text-decoration: none;
//   transition: color 0.2s;

//   &:hover {
//     color: var(--secondary);
//   }
// }

// /* Card */
// .card {
//   background: var(--card-bg);
//   border: 1px solid var(--border);
//   border-radius: 12px;
//   padding: 1.5rem;
//   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//   transition: background-color 0.3s, border 0.3s;
// }
