.post-main {
  border-radius: 8px;
  padding-top: 10px;

  h1 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__desc {
    color: var(--text);
    margin-bottom: 0.8rem;
  }

  &__price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #e91e63;
  }

  &__middle {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__size {
    font-weight: bold;
  }

  &__location,
  &__time {
    margin-top: 0.3rem;
    color: var(--text);
  }
}
